body{
  background: #fafafa;
  color: #333333;
  margin-top: 0rem !important;
}

h1, h2, h3, h4, h5, h6 {
  color: #444444;
}

.btn{background-color:#173e43 !important; color:white !important; border-radius: 0;border: none; opacity: 0.89;}
.btn:hover{background-color:#fff !important; color:#ffcb39 !important; border:1px solid #ffcb39;  opacity:1;}

ul {
  margin: 0;
}
.add-margin-top{margin-top: 70px !important;}
.main-wrapper{margin-top:55px !important; position: absolute;}
.container-fluid{padding-right: 0px !important; padding-left:0px !important;}

.full-screen {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.bg-steel {
  background-color: #5f788a;
}

.site-header .navbar-nav .nav-link {
  color: #cbd5db;
}

.site-header .navbar-nav .nav-link:hover {
  color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

.content-section {
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
}

.article-title {
  color: #444444;
}

a.article-title:hover {
  color: #428bca;
  text-decoration: none;
}

.article-content {
  white-space: pre-line;
}

.article-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #e3e3e3
}

.article-metadata a:hover {
  color: #333;
  text-decoration: none;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-heading {
  font-size: 2.5rem;
}


/*
*  MAP
*/

.map {height: 100%;width: 100%;}

/**********************/
/***** Services *******/
/*********************/
section{
  padding: 60px 0;
}
section .section-title{
  text-align:center;
  color:#007b5e;
  margin-bottom:50px;
  text-transform:uppercase;
}
#what-we-do{
  background:#ffffff;
}
#what-we-do .card{
  padding: 1rem!important;
  border: none;
  margin-bottom:1rem;
  -webkit-transition: .5s all ease;
  -moz-transition: .5s all ease;
  transition: .5s all ease;
}
#what-we-do .card:hover{
  -webkit-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
  -moz-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
  box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
}
#what-we-do .card .card-block{
  padding-left: 50px;
    position: relative;
}
#what-we-do .card .card-block a{
  color: #007b5e !important;
  font-weight:700;
  text-decoration:none;
}
#what-we-do .card .card-block a i{
  display:none;
  
}
#what-we-do .card:hover .card-block a i{
  display:inline-block;
  font-weight:700;
  
}
#what-we-do .card .card-block:before{
  font-family: FontAwesome;
    position: absolute;
    font-size: 39px;
    color: #007b5e;
    left: 0;
  -webkit-transition: -webkit-transform .2s ease-in-out;
    transition:transform .2s ease-in-out;
}
#what-we-do .card .block-1:before{
    content: "\f0e7";
}
#what-we-do .card .block-2:before{
    content: "\f0eb";
}
#what-we-do .card .block-3:before{
    content: "\f00c";
}
#what-we-do .card .block-4:before{
    content: "\f209";
}
#what-we-do .card .block-5:before{
    content: "\f0a1";
}
#what-we-do .card .block-6:before{
    content: "\f218";
}
#what-we-do .card:hover .card-block:before{
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);  
  -webkit-transition: .5s all ease;
  -moz-transition: .5s all ease;
  transition: .5s all ease;
}

/* balloon */

  .mywraper{
    width:1350px;
    height:400px;
    background:url(http://ionic.io/img/home/ionic-mountain-feature.png) no-repeat 0 bottom/100%;
  }
  
  .balloon{
    width:100px;
    height:150px;
    background:url(http://ionic.io/img/home/ionic-balloon.png) no-repeat top center/100%;
    animation: balloon 60s ease infinite;
    position:relative;
    top:320px;
    left:30px;
  }
  
  @keyframes balloon {
    0% {
      left:30px;
      top:320px;
    }
    
    30% {
      left:1100px;
      top:30px;
    }
    
    69% {
      left:100px;
      top:120px;
    }
    
    100% {
      left:30px;
      top:320px;
    }
  }

  /* footer */


footer{background-color: #f2fdd5;}

/* counter */

.counter {
    background-color:#f5f5f5;
    padding: 20px 0;
    border-radius: 5px;
}

.count-title {
    font-size: 40px;
    font-weight: normal;
    margin-top: 10px;
    margin-bottom: 0;
    text-align: center;
}

.count-text {
    font-size: 13px;
    font-weight: normal;
    margin-top: 10px;
    margin-bottom: 0;
    text-align: center;
}

.fa-2x {
    margin: 0 auto;
    float: none;
    display: table;
    color: #4ad1e5;
}


/*
* 404 page
*
**/


@import url('https://fonts.googleapis.com/css?family=Dosis:300,400,500');

@-moz-keyframes rocket-movement { 100% {-moz-transform: translate(1200px,-600px);} }
@-webkit-keyframes rocket-movement {100% {-webkit-transform: translate(1200px,-600px); } }
@keyframes rocket-movement { 100% {transform: translate(1200px,-600px);} }
@-moz-keyframes spin-earth { 100% { -moz-transform: rotate(-360deg); transition: transform 20s;  } }
@-webkit-keyframes spin-earth { 100% { -webkit-transform: rotate(-360deg); transition: transform 20s;  } }
@keyframes spin-earth{ 100% { -webkit-transform: rotate(-360deg); transform:rotate(-360deg); transition: transform 20s; } }

@-moz-keyframes move-astronaut {
    100% { -moz-transform: translate(-160px, -160px);}
}
@-webkit-keyframes move-astronaut {
    100% { -webkit-transform: translate(-160px, -160px);}
}
@keyframes move-astronaut{
    100% { -webkit-transform: translate(-160px, -160px); transform:translate(-160px, -160px); }
}
@-moz-keyframes rotate-astronaut {
    100% { -moz-transform: rotate(-720deg);}
}
@-webkit-keyframes rotate-astronaut {
    100% { -webkit-transform: rotate(-720deg);}
}
@keyframes rotate-astronaut{
    100% { -webkit-transform: rotate(-720deg); transform:rotate(-720deg); }
}

@-moz-keyframes glow-star {
    40% { -moz-opacity: 0.3;}
    90%,100% { -moz-opacity: 1; -moz-transform: scale(1.2);}
}
@-webkit-keyframes glow-star {
    40% { -webkit-opacity: 0.3;}
    90%,100% { -webkit-opacity: 1; -webkit-transform: scale(1.2);}
}
@keyframes glow-star{
    40% { -webkit-opacity: 0.3; opacity: 0.3;  }
    90%,100% { -webkit-opacity: 1; opacity: 1; -webkit-transform: scale(1.2); transform: scale(1.2); border-radius: 999999px;}
}

.spin-earth-on-hover{
    
    transition: ease 200s !important;
    transform: rotate(-3600deg) !important;
}

html, body{
    margin: 0;
    width: 100%;
    height: 100%;
    font-family: 'Dosis', sans-serif;
    font-weight: 300;
    -webkit-user-select: none; /* Safari 3.1+ */
    -moz-user-select: none; /* Firefox 2+ */
    -ms-user-select: none; /* IE 10+ */
    user-select: none; /* Standard syntax */
}

.bg-purple{
    background: url(http://salehriaz.com/404Page/img/bg_purple.png);
    background-repeat: repeat-x;
    background-size: cover;
    background-position: left top;
    height: 100%;
    overflow: hidden;
    
}

.navbar{background-color:#4a6164;}
.custom-navbar{
    padding-top: 15px;
}

.brand-logo{
    margin-left: 25px;
    margin-top: 5px;
    display: inline-block;
}

.navbar-links{
    display: inline-block;
    float: right;
    margin-right: 15px;
    text-transform: uppercase;
    
    
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
/*    overflow: hidden;*/
    display: flex; 
    align-items: center; 
}

li {
    float: left;
    padding: 0px 15px;
}

li a {
    display: block;
    text-align: center;
    text-decoration: none;
    letter-spacing : 2px;
    font-size: 12px;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -ms-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
}

li a:hover {
    color: #ffcb39;
}

.btn-request{
    padding: 10px 25px;
    border: 1px solid #FFCB39;
    border-radius: 100px;
    font-weight: 400;
}

.btn-request:hover{
    background-color: #FFCB39;
    color: #fff;
    transform: scale(1.05);
    box-shadow: 0px 20px 20px rgba(0,0,0,0.1);
}

.btn-go-home{
    position: relative;
    z-index: 200;
    margin: 15px auto;
    width: 100px;
    padding: 10px 15px;
    border: 1px solid #FFCB39;
    border-radius: 100px;
    font-weight: 400;
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
    letter-spacing : 2px;
    font-size: 11px;
    
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -ms-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
}

.btn-go-home:hover{
    background-color: #FFCB39;
    color: #fff;
    transform: scale(1.05);
    box-shadow: 0px 20px 20px rgba(0,0,0,0.1);
}

.central-body{
/*    width: 100%;*/
    padding: 17% 5% 10% 5%;
    text-align: center;
}

.objects img{
    z-index: 90;
    pointer-events: none;
}

.object_rocket{
    z-index: 95;
    position: absolute;
    transform: translateX(-50px);
    top: 75%;
    pointer-events: none;
    animation: rocket-movement 200s linear infinite both running;
}

.object_earth{
    position: absolute;
    top: 20%;
    left: 15%;
    z-index: 90;
/*    animation: spin-earth 100s infinite linear both;*/
}

.object_moon{
    position: absolute;
    top: 12%;
    left: 25%;
/*
    transform: rotate(0deg);
    transition: transform ease-in 99999999999s;
*/
}

.earth-moon{
    
}

.object_astronaut{
    animation: rotate-astronaut 200s infinite linear both alternate;
}

.box_astronaut{
    z-index: 110 !important;
    position: absolute;
    top: 60%;
    right: 20%;
    will-change: transform;
    animation: move-astronaut 50s infinite linear both alternate;
}

.image-404{
    position: relative;
    z-index: 100;
    pointer-events: none;
}

.stars{
    background: url(http://salehriaz.com/404Page/img/overlay_stars.svg);
    background-repeat: repeat;
    background-size: contain;
    background-position: left top;
}

.glowing_stars .star{
    position: absolute;
    border-radius: 100%;
    background-color: #fff;
    width: 3px;
    height: 3px;
    opacity: 0.3;
    will-change: opacity;
}
.lightblue{
    position: absolute;
    border-radius: 100%;
    fill: #fff;
    width: 3px;
    height: 3px;
    opacity: 0.3;
    will-change: opacity;
}

.glowing_stars .star:nth-child(1){
    top: 80%;
    left: 25%;
    animation: glow-star 2s infinite ease-in-out alternate 1s;
}
.glowing_stars .star:nth-child(2){
    top: 20%;
    left: 40%;
    animation: glow-star 2s infinite ease-in-out alternate 3s;
}
.glowing_stars .star:nth-child(3){
    top: 25%;
    left: 25%;
    animation: glow-star 2s infinite ease-in-out alternate 5s;
}
.glowing_stars .star:nth-child(4){
    top: 75%;
    left: 80%;
    animation: glow-star 2s infinite ease-in-out alternate 7s;
}
.glowing_stars .star:nth-child(5){
    top: 90%;
    left: 50%;
    animation: glow-star 2s infinite ease-in-out alternate 9s;
}

@media only screen and (max-width: 600px){
    .navbar-links{
        display: none;
    }
    
    .custom-navbar{
        text-align: center;
    }
    
    .brand-logo img{
        width: 120px;
    }
    
    .box_astronaut{
        top: 70%;
    }
    
    .central-body{
        padding-top: 25%;
    }
}

/********* 
*
*
**   403 page
*
*
*********/

@import url("https://fonts.googleapis.com/css?family=Bungee");
.content-center{  text-align: center; margin:50px 0px;}
svg {
  width: 50vw;
}

.eye {
  cx: calc(115px + 30px * var(--mouse-x));
  cy: calc(50px + 30px * var(--mouse-y));
}
#eye-wrap {
  overflow: hidden;
}
.error-text {
  font-size: 120px;
  font-family: 'Dosis', sans-serif;
}
.alarm {
  animation: alarmOn 0.5s infinite;
}
.fourothree h1,.fourothree h2{color:white;}
@keyframes alarmOn {
  to {
    fill: darkred;
  }
}

/* PAGE CAMPAIGN */
.noMoment{display: none;}
#hidePeakEvaluationForm{display: none;}
#annotationsEvaluated,#annotationsNotEvaluated{
  padding: 0px !important;
}
.annotationsTabs .nav-link{color: #404c4b;}
.annotationsTabs .nav-tabs,.annotationsTabs .nav-tabs .nav-link{border: none !important;}
.annotationsTabs .nav-tabs .nav-link{border-top-left-radius:0px !important; border-top-right-radius:0px !important;}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {color:#fff; background-color:#173e43; border-color: none; }
.annotationsTabs .table-dark{background-color:#173e43; }
.annotationsTabs .table-dark td,.annotationsTabs .table-dark th,.annotationsTabs .table-dark thead th { border-color:#b5bcc336;}

/* SIDEBAR */
.left-sidebar{ height: 100%;
  position: fixed;}
.tab-sidebar-content{float: left; padding: 0px;}
.tab-sidebar-content-right{float: right;}
.nav-sidebar { width: 16%; padding: 30px 0; border-right: 1px solid#ddd; background:#173e43; }
.nav-sidebar ul li{float: left; padding: 15px 0; width: 100%;}
.nav-sidebar a {
    color: #fff;
    -webkit-transition: all 0.08s linear;
    -moz-transition: all 0.08s linear;
    -o-transition: all 0.08s linear;
    transition: all 0.08s linear;
}
.nav-sidebar ul li  a.active {  cursor: default; background-color: #fff; color: #ffcb39; padding: 10px;}
.nav-sidebar .active a:hover {  background-color: #E50000;  }
.nav-sidebar .text-overflow a,
.nav-sidebar .text-overflow .media-body {
    white-space: nowrap;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis; 
}


/* add peaks form */
.addPeak{margin-top: 50px;}
.addPeak form{margin: 0 auto; margin: 0 auto; box-shadow: 0px 0px 10px 0px gray; padding: 15px; background:#fff;}

.addPeak h2{text-align: center;}
.addPeak .form-group .control-group{margin-top: 15px;}
.addPeak .form-group .radio{width: 100%;}
.addPeak .form-group .control-label,.login-register form .control-label{font-weight: 400;font-size:19px; }
.addPeak .form-group .btn{width: 100%;}
.addPeak #id_fileJson{background-color:#173e43 !important; color:white !important; border-radius: 0;border: none; opacity: 0.89;}
/*#tab2{ background: url(/media/bgPeak.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }*/

.form-here_hidden{display: none;}

/* login register form */

.login-register { width: 30%; margin: 0 auto; box-shadow: 0px 0px 10px 0px gray; padding: 15px; background:#fff;}
.login-register form input{width: 100%; border: 0; background: #173e43; color: white; padding: 5px;}
.login-register .control-group{margin-top: 10px;}
.login-register form .btn{width: 100%;}
.login-register .form-footer {width: 100%; text-align: center;}
.login-register form input:focus,.login-register form input:required{  outline: none !important; border-color: #719ECE; box-shadow: 0 0 10px #719ECE; }
.login-register-wrapper{background-color: #f6ffee;}