{% extends "users/base.html" %}
{% load leaflet_tags %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="container-fluid">
          
          <article class="media ">
            <div class="media-body col-md-8">
              <div class="map">
                {% if peak %}
                    {% leaflet_map "main" callback="map_init" %}  
                {% else %}  
                    <h1>Add some peaks</h1>  
                {% endif %}       
              </div>            
            </div>
            {% csrf_token %}

            <div class="col-md-4">
                <div id="message-div"></div>
                <pre id="peak"></pre>

                    <form action='' method='POST' id="submitAnnotation" >
                        {% csrf_token %}
                        {{ form|crispy }}
                        <input type="hidden" name="hidden_id" value="0" id="hidden_id">
                        <div class="form-group">
                            <button class="btn btn-outline-info" type="submit">Create Campaign</button>
                        </div>
                    </form>
                     
            </div>
          </article>
         


    <script type="text/javascript">  

        function map_init(map, options) {


            var LeafIcon = L.Icon.extend({
                options: {
                    iconSize:     [38, 95],
                    shadowSize:   [50, 64],
                    iconAnchor:   [22, 94],
                    shadowAnchor: [4, 62],
                    popupAnchor:  [-3, -76]
                }
            });


            var greenIcon = new LeafIcon({iconUrl: 'http://127.0.0.1:8000/media/leaf-green.png'}),
            redIcon = new LeafIcon({iconUrl: 'http://127.0.0.1:8000/media/leaf-red.png'}),
            orangeIcon = new LeafIcon({iconUrl: 'http://127.0.0.1:8000/media/leaf-orange.png'});

            //creating a json format for the data we have so we can pass it to map

            var articles = [
                {% for p in peak %}
                    {% if not forloop.first %},{% endif %}
                    {
                        lat     :    "{{ p.lat }}",
                        lon     :    "{{ p.lon }}",
                        status  :    "{{ p.status }}",
                        id      :    "{{ p.id     }}",
                    }
                {% endfor %}
                ]


            // setting a main point on the map where the map will be focused on oppening
            map.setView([articles[0]['lat'], articles[1]['lon']], 12);

            //long lat variables
            var lat, lon;

            // the for loop to display the items on the map
            for (var i = 0; i < articles.length; i++) {
                //console.log(articles[i]['lat']);
                lat  = articles[i]['lat'];
                lon  = articles[i]['lon'];
                id   = articles[i]['id'];
                console.log(articles[i]['status'].toLowerCase());
             
                if(articles[i]['status'].toLowerCase() == 'true'){
                    L.marker([lat, lon], {icon: greenIcon, title:'green', id:id}).addTo(map).on("click", groupClick);   
                }else{
                    L.marker([lat, lon], {icon: redIcon, title:'red',  id:id}).addTo(map).on("click", groupClick);
                }
            } //end for loop  

        }//end function map_init()
    </script>

    </div>
{% endblock content %}