{% extends "users/base.html" %}
{% load leaflet_tags %}
{% load crispy_forms_tags %}

{% block content %}
{% csrf_token %}
<div class="content-fluid">
  <div class="col-sm-2  tab-sidebar-content ">
    <nav id="#sidebar" class="nav-sidebar left-sidebar">
      <ul class="nav tabs">
          <li class=""><a class="active" href="#campaignDetails" data-toggle="tab">Campaign Details</a></li>
          <li class=""><a href="#tab1" data-toggle="tab">Evaluate Annotations</a></li>
          <li class=""><a href="#tab2" data-toggle="tab">Add Peaks</a></li>
          <li class=""><a href="#tab3" data-toggle="tab">Update Peaks</a></li>                               
      </ul>
    </nav>
  </div>



  <div class="col-sm-10 tab-sidebar-content-right">
    <!-- tab content -->
    <div class="tab-content">
      <div class="tab-pane active text-style" id="campaignDetails">
        <article class="media content-section">
          <img class="rounded-circle article-img" src="{{ object.user_id.profile.image.url }}">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="#">{{ object.user_id }}</a>
              <small class="text-muted">Date Created: {{ object.date_posted|date:"F d, Y" }}</small>

              {% if campaign.user_id == actualUser  %}
                <div>
                  {% if campaign.status != "Closed" %}
                  <a class="btn btn-secondarysm mt-1 mb-1" href="{% url 'campaign-update' object.id %}">Update</a>
                  {% endif %}
                  <a class="btn btn-danger delete-btn mt-1 mb-1" href="{% url 'campaign-delete' object.id %}">Delete</a>
                </div>
              {% endif %}
            </div>
            <h2 class="article-title"><span>CampaignName:</span> {{ campaign.name }}</h2>
            <p class="article-content start-date"> <span>Started Date:</span> {{ object.start_date }}</p>
            <p class="article-content end-date"> <span>Ending  Date: </span>{{ object.end_date }}</p>
            <p class="article-content"><span>Status:</span> {{ object.status }}</p>

          </div>
        </article>

          
        <div class="container">
            <div class="row ">
              <table class="table table-dark table-hover peak-annotations">
                <thead>
                  <tr>
                    <th>Not Annotated Peaks</th>
                    <th>Nr of peaks in the annotated state (1 or more annotations)</th>
                    <th>Nr of peaks with at least 1 or more rejected annotations</th>
                    <th>Number of conflicts (see definition below)</th>
                  </tr>
                </thead>
                <tbody class="annotation_admin campaign_details">
                  <tr>
                    <td>{{notAnnotatedPeaks}}</td>
                    <td>{{AnnotatedPeaks}}</td>
                    <td>{{RejectedPeaks}}</td>
                    <td>{{conflix}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
        </div>
      </div>
    <div class="tab-pane text-style" id="tab1">
      here to show the campaign information

        <div class="map">
                {% if campaign_peaks %}
                    {% leaflet_map "main" callback="map_init" %}  
                {% else %}  
                    <h1>There are no peaks</h1>  
                {% endif %}       
        </div> 
        <div class="content annotationsTabs">
          <h1>here go all peak annotations for admin so he can edit</h1>
          <div class="row">
            <ul class="nav nav-tabs">
              <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#annotationsEvaluated">Not Evaluated Annotations</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#annotationsNotEvaluated">Evaluated Annotations</a>
              </li>
            </ul>
          </div>

          <!-- Tab panes -->
          <div class="tab-content">
            <div class="tab-pane container active" id="annotationsNotEvaluated">
              <table class="table table-dark table-hover peak-annotations">
                <thead>
                  <tr>
                    <th>Name</th>
                    <th>Status</th>
                    <th>Localized Names</th>
                    <th>Evaluate annotation</th>
                  </tr>
                </thead>
                <tbody class="annotation_admin">
                  
                </tbody>
              </table>
            </div>

            <div class="tab-pane container fade" id="annotationsEvaluated">
              <table class="table table-dark table-hover peak-annotations">
                <thead>
                  <tr>
                    <th>Worker Name</th>
                    <th>Peak Status</th>
                    <th>Peak Id</th>
                    <th>Evaluate annotation</th>
                  </tr>
                </thead>
                <tbody class="annotation_admin">
                  
                </tbody>
              </table>
            </div>
          </div>
    
        </div>
    </div>


<div class="noMoment">
    <form action='' method='POST' name="evaluateAnnotation" class='checkAnnotation formNotInserted'>
      {% csrf_token %}
      <input type='hidden' name='hidden_peak_id' class="hidden_peak_id" value='' id='hidden_id'>
      <input type="hidden" name="act_cpm" value="{{campaign.id}}">
      <div>
        <input type='radio' id='accept' name='evaluateAnnotation' value='True'><label for='accept'>Accept</label>
      </div>
      <div>
        <input type='radio' id='reject' name='evaluateAnnotation' value='False'><label for='reject'>Reject</label>
      </div>
      <div class='form-group'>
        <button class='btn btn-outline-info' type='submit'>Evaluate</button>
      </div> 
    </form>
</div>

    <div class="tab-pane text-style" id="tab2">
      <div class="content addPeak">
        {% if campaign.user_id == actualUser and campaign.status != "Closed" %}
          <h2 class="border-bottom mb-4">Add e new peak</h2>
          <div class="row">
            <form method="POST" enctype="multipart/form-data">
                  {% csrf_token %}
                  <fieldset class="form-group">
                    {{ form|crispy }}
                  </fieldset>
                  <div class="form-group">
                      <button class="btn btn-outline-info" type="submit" name="enroll_worker">Add Peak</button>
                  </div>
            </form>
          </div>  
        {% else %}
          {% if campaign.status == "Closed" %}
            <h2>This Campaign is closed. You cannot add peaks anymore.</h2>
          {% endif %}
        {% endif %}
      </div>
     
    </div>

    <div class="tab-pane text-style" id="tab3">
      <h2>Update Peaks by loading a json file with the same id of peaks used in this campaign</h2>
    </div>
  </div>
  </div>
    
</div>


      <script type="text/javascript">  
        function map_init(map, options) {

            var LeafIcon = L.Icon.extend({
                options: {
                    iconSize:     [38, 95],
                    shadowSize:   [50, 64],
                    iconAnchor:   [22, 94],
                    shadowAnchor: [4, 62],
                    popupAnchor:  [-3, -76]
                }
            });

            var greenIcon = new LeafIcon({iconUrl: 'http://127.0.0.1:8000/media/leaf-green.png'}),
            redIcon = new LeafIcon({iconUrl: 'http://127.0.0.1:8000/media/leaf-red.png'}),
            orangeIcon = new LeafIcon({iconUrl: 'http://127.0.0.1:8000/media/leaf-orange.png'});

            //creating a json format for the data we have so we can pass it to map

            var articles = [
                {% for p in campaign_peaks %}
                    {% if not forloop.first %},{% endif %}
                    {
                        lat     :    "{{ p.lat }}",
                        lon     :    "{{ p.lon }}",
                        status  :    "{{ p.status }}",
                        id      :    "{{ p.id     }}",
                    }
                {% endfor %}
                ]


            // setting a main point on the map where the map will be focused on oppening
            map.setView([articles[0]['lat'], articles[1]['lon']], 3);

            //long lat variables
            var lat, lon;

            // the for loop to display the items on the map
            for (var i = 0; i < articles.length; i++) {
                //console.log(articles[i]['lat']);
                lat  = articles[i]['lat'];
                lon  = articles[i]['lon'];
                id   = articles[i]['id'];
                //console.log(articles[i]['status'].toLowerCase());
             
                if(articles[i]['status'].toLowerCase() == 'true'){
                    L.marker([lat, lon], {icon: greenIcon, title:'green', id:id}).addTo(map).on("click", adminData);   
                }else{
                    L.marker([lat, lon], {icon: redIcon, title:'red',  id:id}).addTo(map).on("click", adminData);
                }
            } //end for loop  

        }//end function map_init()

    </script>
    </div>
{% endblock content %}