{% extends "users/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="content-fluid ">
  <div class="col-sm-2  tab-sidebar-content ">
    <nav id="#sidebar" class="nav-sidebar left-sidebar">
      <ul class="nav tabs">
          <li class=""><a class="active" href="#profile" data-toggle="tab">Profile</a></li>
          {% if user.is_manager %}
                <li class="nav-item">
                    <a id="tab-C" href="#manager-campaigns" class="nav-link" data-toggle="tab" role="tab">
                        
                          Your Campaigns
                    </a>
                </li>
          {% endif %}
          <li class=""><a href="#enrolled-campaigns" data-toggle="tab">Campaigns Enrolled</a></li>                               
          <li class=""><a href="#user-annotations" data-toggle="tab">Your Annotations</a></li>
      </ul>
    </nav>
  </div>

  <div class="col-sm-10 tab-sidebar-content-right add-margin-top">
    <!-- tab content -->
    <div class="tab-content">
      <!-- PROFILE TAB-->
      <div class="tab-pane active text-style" id="profile">
        <div class="content-section">
          <div class="media">
            <img class="rounded-circle account-img" src="{{ user.profile.image.url }}">
            <div class="media-body">
              <h2 class="account-heading">{{ user.username }}</h2>
              <p class="text-secondary">{{ user.email }}</p>
                {% if user.is_manager %}
                  <p class="text-secondary">You are a manager </p>
                {% else %}
                  <p class="text-secondary">You are a worker </p>
                {% endif %}
            </div>
          </div>
          {% if user.is_manager %}
          <a class="btn" href="{% url 'campaign-create' %}">Add new Campaign</a>
          {% endif %}
        </div>
      </div>

      <!-- Campaign TAB, if user is manager-->
      {% if user.is_manager %}
        <div class="tab-pane text-style" id="manager-campaigns">
          <h5 class="mb-0">
                {% if campaigns %}
                  {% for campaign in campaigns %}
                      <article class="media content-section">
                              <img class="rounded-circle article-img" src="{{campaign.user_id.profile.image.url }}">
                              <div class="media-body">
                                <div class="article-metadata">
                                  <h3><a class="article-title" href="{% url 'campaign-detail' campaign.id %}">Campaign Name: {{ campaign.name }}</a></h3>
                                  <a class="mr-2" href="#">{{ campaign.user_id }}</a>
                                  <small class="text-muted">Date Posted : {{ campaign.date_posted|date:"F d, Y" }}</small>
                                </div>
                              
                              </div>
                        </article>
                  {% endfor %}
                {% endif %}
          </h5>
        </div>
      {% endif %}

      <!-- Enrolled Campaigns -->
      <div class="tab-pane" id="enrolled-campaigns">
        <div class="card-body">
          {% if campaigns_enrolled %}
            {% for campaign_enrolled in campaigns_enrolled %}
                <article class="media content-section">
                      <div class="media-body">
                        <div class="article-metadata">
                          <h3 class="article-title">Enrolled: {{ campaign_enrolled.name }}</h3>
                          <a class="link" href="{% url 'peak-list' campaign_enrolled.id  %}"> Annotate peaks now </a>
                        </div>
                      </div>
                </article>
            {% endfor %}
          {% else %}
            <h5>You have not enrolled in any campaign </h5> <a href="{% url 'campaign-home' %}"> Start Enrolling now </a>
          {% endif %}
        </div>
      </div>

      <!-- Annotations -->
      <div class="tab-pane" id="user-annotations">
        <div class="card-body">
          {% if annotations %}
            Here will go your annotations
          {% else %}
            You have not yet annotated any peak, check your enrolled campaigs if respective worker has published any peak. <br>
            <a href="{% url 'campaign-home' %}">Check All Published Campaigns </a>
          {% endif %}                
        </div>
      </div>


    </div>
  </div>
</div>
   

{% endblock content %}
